@import "../fonts/stylesheet.css";
@import "element-plus/dist/index.css";

body {
    font-family: "Open Sans", sans-serif;
    background: #333333;
}

.content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.2);
}

.section .el-tabs__item {
    color: white;
}